@import '../variables.scss';

.container {
  position: relative;
  width: 200px;

  .selection {
    background-color: $gray-100;
    justify-content: space-between;
    border-radius: 4px;
  }

  .wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid $gray-200;
    box-sizing: border-box;
    box-shadow: 0px 8px 10px rgba(82, 97, 119, 0.16);
    border-radius: 4px;
    display: none;
  }

  &.isOpen {
    .selection {
      .arrow {
        transform: rotate(180deg);
      }
    }
    .wrapper {
      display: block;
    }
  }

  .selection,
  .option {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid $gray-200;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.label_danger {
  color: $red-600;
}
